html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Estilos personalizados */
.btn-verde {
    background-color: #2E7D32;
    color: white;
    border: none;
}

.btn-verde:hover {
    background-color: #1b5e20; 
    color: white;
}

h2, h3 {
    color: #2E7D32; 
}

.table-header-verde thead {
    background-color: #4CAF50; 
    color: white;
}